<!DOCTYPE HTML>

<html>

<head>
    <!-- head with a title "Panthera" -->

    <title>Panthera Webpage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="static/src/css/style.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- background static\src\img\Panthera.jpg  non repeating-->
    <style>
        body {
            background-image: url('static/src/img/Panthera.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        p {
            color: black;
            font-size: 20px;
            font-weight: bold;
        }
    </style>


</head>

<!-- body with a header "Panthera" and a paragraph "Welcome to Panthera" -->

<body class="is-preload">
    <!-- Create a button that redirects to the index -->
    <a href="/">
        <button type="button">Home</button>
    </a>

    <h1>Panthera</h1>
    <p>Benvenuti in Panthera</p>

    <div id="wrapper">


        <!-- create a button that opens a template .xlsx file. The button name is "Mostra Template" while the file name is "Template.xlsx" -->
        <a href="{{ url_for('download_file') }}" class="btn btn-primary">
            <button type="button" id="DownloadTemplate">
                Mostra Template
            </button>
        </a>

        <br>
        <br>


        <!-- create a form that reads a xlsx file with a buttond and send the info to afunction in main.py -->
        <div id="CaricaFile">
            <form action="{{ url_for('upload_file_xls') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".xlsx">
                <button type="submit">Carica File</button>
            </form>

            <!-- create a output text that gathers the message variable -->
            <p>{{ message }}</p>
            <p>{{ pos }}</p>
            <p>{{ crit }}</p>
            <p>{{ nullVals }}</p>

            <h2>{{ meanMsg }}</h2>
            <h2>{{ medianMsg }}</h2>
            <h2>{{ modeMsg }}</h2>
            <h2>{{ perc10Msg }}</h2>
            <h2>{{ perc25Msg }}</h2>
            <h2>{{ perc75Msg }}</h2>
            <h2>{{ perc90Msg }}</h2>
        </div>

        <br>
        <br>

        {% if execVisible %}
        <!-- Add a button that executes the panthera_main function in py, but also send value through post form -->
        <form action="{{ url_for('panthera_main') }}" method="post" id="runPanthera">
            <!-- add a dropdown list with values for the rooftop -->
            <label for="rooftop">Seleziona il taglio:</label>
            <select name="rooftop" id="rooftop">
                <option value="2500">2500</option>
                <option value="10000">10000</option>
                <option value="25000">25000</option>
                <option value="50000">50000</option>
                <option value="60000">60000</option>
            </select>
            <br>
            <button type="submit">Esegui Panthera</button>
        </form>
        {% endif %}

        <!-- if message is "File generato con successo" -->
        {% if message == "File generato con successo" %}
        <!-- create a button that opens the file created by the function -->
        <a href="{{ url_for('panthera_download') }}" class="btn btn-primary">
            <button type="button" id="FileDownload">Scarica File</button>
        </a>
        {% endif %}


    </div>

    <!-- Hides the buttons when the execution is run -->
    <script>
        $(document).ready(function () {
            $('#runPanthera').submit(function () {
                $('#runPanthera').hide();
                $('#DownloadTemplate').hide();
                $('#CaricaFile').hide();

            });
        });
    </script>

    <!-- hides the download button after one click -->
    <script>
        $(document).ready(function () {
            $('#FileDownload').submit(function () {
                $('#FileDownload').classList.add('d-none');
            });
        });
    </script>
    <!-- 
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <h2 class="mb-3" style="font-weight: 300;">
                        Carica file
                    </h2>

                    <div class="form-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file_input" oninput="input_filename();">
                            <label for="file_input" id="file_input_label" class="custom-file-labe">Seleziona
                                file</label>
                        </div>
                    </div>

                    <button onclick="upload ('{{request.url}}')" id="upload-btn" class="btn btn-primary">Carica</button>

                    <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Caricamento...
                    </button>
                    <button class="btn btn-secondary" id="cancel_btn" type="button">
                        Cancella caricamento
                    </button>


                </div>

                <div id="progress-wrapper" class="d-none">
                    <label id="progress_status">50% upload</label>
                    <div class="progress mb-3">
                        <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
                <div id="alert-wrapper"></div>
            </div>
        </div>
    </div>

    <script>

        var progress = document.getElementById('progress');
        var progress_status = document.getElementById('progress_status');
        var progress_wrapper = document.getElementById('progress-wrapper');

        var alert_wrapper = document.getElementById('alert-wrapper');

        var upload_btn = document.getElementById('upload-btn');
        var loading_btn = document.getElementById('loading_btn');
        var cancel_btn = document.getElementById('cancel_btn');

        var file_input = document.getElementById('file_input');
        var file_input_label = document.getElementById('file_input_label');


        function show_alert(message, type) {
            alert_wrapper.innerHTML = `
            <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;
                    </span>
                </button>
            </div>
            `;
        }

        function input_filename() {
            file_input_label.innerText = file_input.files[0].name;
        }

        function upload(url) {
            if (!file_input.value) {
                show_alert('Seleziona un file', 'warning');
                return;
            }

            var data = new FormData();

            var request = new XMLHttpRequest();

            request.responseType = 'json';

            alert_wrapper.innerHTML = '';

            file_input.disabled = true;

            // hide upload and cancel button and show loading button
            upload_btn.classList.add('d-none');
            loading_btn.classList.remove('d-none');
            cancel_btn.classList.remove('d-none');

            // reveal progress bar
            progress_wrapper.classList.remove('d-none');

            var file = file_input.files[0];
            var filename = file.name;
            var filesize = file.size;

            document.cookie = 'filesize=${filesize}';
            data.append('file', file);

            request.upload.addEventListener('progress', function (e) {
                var loaded = e.loaded;
                var total = e.total;

                var percentage_complete = (loaded / total) * 100;

                // update progress bar and percentage
                progress.setAttribute('style', `width: ${Math.floor(percentage_complete)}%`);
                progress_status.innerText = `${Math.floor(percentage_complete)}%`;

            });


            request.addEventListener('load', function (e) {
                if (request.status == 200) {
                    show_alert(request.response.message, 'success');
                } else {
                    show_alert('Errore nel caricamento del file', 'danger');
                }

                reset();
            });

            request.addEventListener('error', function (e) {
                show_alert('Errore nel caricamento del file', 'danger');
                reset();
            });

            request.open('POST', url);
            request.send(data);

            cancel_btn.addEventListener('click', function () {
                request.abort();
                show_alert('Caricamento annullato', 'warning');
                reset();
            });
        }

        function reset() {
            file_input.value = null;

            // reset the buttons
            cancel_btn.classList.add('d-none');
            loading_btn.classList.add('d-none');
            upload_btn.classList.remove('d-none');

            // hide progress bar
            progress_wrapper.classList.add('d-none');
            progress.setAttribute('style', 'width: 0%');

            // enable file input
            file_input_label.innerText = 'Seleziona file';
        }




    </script> -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>